<section class="my-requests dark-bg full-width flex-start">
  <div class="full-width flex-center selected-request">
    <div class="focus-img flex-center round shadow">
      <%= image_tag @request.img.url(:medium) %>
    </div>
  </div>

  <div class="request-index flex-center">
    <% @requests.each do |request| %>
      <div class="profile-index-img flex-center">
        <%= image_tag request.img.url(:medium) %>
      </div>
    <% end %>
  </div>
</section>
<section class="tag-list-request">
  <ul class="tag-index list-inline">
      <% if @request.color.present? %>
        <li class="color"><%= @request.color_name %></li>
      <% end %>
      <% if @request.material.present? %>
        <li class="material"><%= @request.material_name %></li>
      <% end %>
      <% if @request.category.present? %>
        <li class="category"><%= @request.category_name %></li>
      <% end %>
      <% if @request.style.present? %>
        <li class="style"><%= @request.style_name %></li>
      <% end %>
    </ul>
</section>

<section class="my-outfits full-width">
  <div class="column line-1st">
    <% @outfits_odd.each do |outfit| %>
      <div class="outfit-frame">
        <%= image_tag outfit.image.file_path, class: "" %>
      </div>
    <% end %>
  </div>
  <div class="column line-2nd">
    <% @outfits_even.each do |outfit| %>
      <div class="outfit-frame ">
        <%= image_tag outfit.image.file_path, class: "" %>
      </div>
    <% end %>
  </div>
</section>