<h3>輸入屬性</h3>

<div class="request_photo">
	s
</div>

<%= simple_form_for @request, wrapper: :inline_form, html: {class: 'form-inline'} do |f| %>
  <%= f.input :color, collection: Color.all, prompt: "選擇顏色", required: true %>
  <%= f.input :material, collection: Material.all, prompt: "選擇材質", required: true  %>
  <%= f.input :category, collection: Category.all, prompt: "選擇種類", required: true  %>
		<br><br>
  <div class="form-group">
	  <%= f.button :submit, "確定", class: "btn-primary" %>
  </div>
<% end %>