<%= simple_form_for @request, wrapper: :inline_form, html: {class: 'form-inline'} do |f| %>

  <div class="request-photo flex-center">
    <div class="img-show">
      <img id="thumbnil" src="" alt="image"/>
    </div>
    <div class="fileUpload btn">
      <%= f.input :img, label: false, input_html: {accept: "image/*",  onchange: "showMyImage(this)"} %>
      <span class="fileUploadIcon">開啟相簿</span>
    </div>
  </div>
  <div class="caution">
    使用至少<span style="color: #fff">3個標籤</span>來描述這件單品
  </div>
  <div class="tag-list flex-around">
    <%= f.input :color_id, collection: Color.all, prompt: "顏色", required: true %>
    <%= f.input :material_id, collection: Material.all, prompt: "材質", required: true %>
    <%= f.input :category_id, collection: Category.all, prompt: "種類", required: true %>
  </div>
    <br><br>
  <div class="form-group">
    <%= f.button :submit, "幫我找", class: "next" %>
  </div>
<% end %>

