<section class="request-photo flex-center overflow-hidden">
  <%= image_tag @item.images.first.file_path %>
</section>
<section class="item-operator full-width dark-bg">
  <div class="item-details">
    <p><%= @item.brand_name %><br>
    <%= @item.name %></p>
    <h5 class="price">NT. <%= @item.price %></h5>
    <div class="size-and-quantity">
      <div>尺寸</div>
      <div>數量</div>
    </div>
  </div>
  <div class="put-in-cart btn">
    <%= image_tag image_url('icons/icon_cart.png')%>
    <span>放入購物車</span>
  </div>
</section>
<%= render "layouts/outfit_index" %>
