<div class="user-request">
  <div class="request-item">
    <%= image_tag @item.images.first.file_path %>
  </div>
  <ul class="list-inline tag-list">
    <li><%= @item.color_name %></li>
    <li><%= @item.material_name %></li>
    <li><%= @item.category_name %></li>
    <li>style</li>
  </ul>
</div>
<div class="outfits-index">
  <% @outfits.each do |outfit| %>
  	<%= link_to (image_tag outfit.image_url, height: '60px'), item_outfit_path(@item, outfit) %>
  <% end %>
</div>

<script>
  $(".outfits-index img").eq(0).addClass("recommend");
  $(".outfits-index img").eq(3).addClass("recommend");
  $(".outfits-index img").eq(5).addClass("recommend");
  $(".outfits-index img").eq(8).addClass("recommend");
  $(".outfits-index img").eq(-1).addClass("recommend");
</script>