<section class="request-photo flex-center overflow-hidden">
  <%= image_tag @outfit.image.file_path %>
</section>

<section class="occasion-area">
  <div class="occasions-tag flex-center">
    <% @occasions.each do |occasion| %>
      <div class="occasion flex-center">
        <%= occasion.name %>
      </div>
    <% end %>
  </div>
</section>

<section class="compare-items flex-between middle-section">
  <div class="focus-item-area">
    <%= link_to image_tag(@related_item.images.first.file_path, class: "focus-item") , item_path(@related_item), class: "round" %>
  </div>
  <%= render partial: "collections/collected_btn" %>
</section>
<%= render "layouts/item_index" %>
