<nav id="nav-site" class="clearfix">
<!-- 功能導覽列 -->
  
  <ul class="list-inline pull-right">
    <% if current_user %>
      <%= current_user.email %>｜
      <li><%= link_to('登出', destroy_user_session_path, :method => :delete) %></li>
    <% else %>
      <%= link_to('註冊', new_registration_path(:user)) %>｜
      <%= link_to('登入', new_session_path(:user)) %>
    <% end %> 
  </ul>  
  <p><%= link_to "回到首頁", :root %>
  ｜<%= link_to 'ADMIN', rails_admin.dashboard_path %>
  ｜<%= link_to '匯入資料', console_import_index_path %>
  </p>
  <p>說明
    ｜<%= link_to '上傳照片', guide_request_path %>
    ｜<%= link_to '輸入屬性', guide_tag_path %>
    ｜<%= link_to '搜尋穿搭', guide_outfit_path %>
    ｜<%= link_to '相關單品', guide_outfit_show_path %>
    ｜<%= link_to '中意單品', guide_item_show_path %>
  </p>
  <p>實作
    ｜<%= link_to '輸入屬性', new_request_path %>
  </p>
</nav>
  <!-- 警告訊息 -->
  <% if flash[:notice].present? %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice]%>
    </div>
  <% elsif flash[:alert].present? %>
    <div class="alert alert-danger" role="alert">
      <%= flash[:alert]%>
    </div>
  <% end %>