<div class="user-request full-width">
  <div class="request-item">
    <%= image_tag @request.img.url(:thumb) %>
  </div>
  <ul class="tag-list list-inline">
    <li class="color"><%= @request.color_name %></li>
    <li class="material"><%= @request.material_name %></li>
    <li class="category"><%= @request.category_name %></li>
    <li class="style"><%= @request.style_name %></li>
  </ul>
</div>
<div class="outfits-index">
  <% @outfits.each do |outfit| %>
  	<%= link_to (image_tag outfit.image_url, height: '60px'), request_outfit_path(@request, outfit) %>
  <% end %>
</div>

<script>
  <% if @request.style_name == t('style', scope: "tags") %>
    $('.style').css("background-color","#ccc");
  <% end %>
  <% if @request.material_name == t('material', scope: "tags") %>
    $('.material').css("background-color","#ccc");
  <% end %>
  <% if @request.color_name == t('color', scope: "tags") %>
    $('.color').css("background-color","#ccc");
  <% end %>
  <% if @request.category_name == t('category', scope: "tags") %>
    $('.category').css("background-color","#ccc");
  <% end %>

  $(".outfits-index img").eq(0).addClass("shadow");
  $(".outfits-index img").eq(3).addClass("shadow");
  $(".outfits-index img").eq(5).addClass("shadow");
  $(".outfits-index img").eq(8).addClass("shadow");
  $(".outfits-index img").eq(-1).addClass("shadow");
</script>