<div class="user-request full-width">
  <div class="request-item">
    <%= image_tag @request.img.url(:thumb) %>
  </div>
  <ul class="tag-list list-inline">
    <li><%= t(@request.color_name, scope: 'tags') %></li>
    <li><%= t(@request.material_name, scope: 'tags') %></li>
    <li><%= t(@request.category_name, scope: 'tags') %></li>
    <li><%= t(@request.style_name, scope: 'tags') %></li>
  </ul>
</div>
<div class="outfits-index">
  <% @outfits.each do |outfit| %>
  	<%= link_to (image_tag outfit.image_url, height: '60px'), request_outfit_path(@request, outfit) %>
  <% end %>
</div>

<script>
  $(".outfits-index img").eq(0).addClass("shadow");
  $(".outfits-index img").eq(3).addClass("shadow");
  $(".outfits-index img").eq(5).addClass("shadow");
  $(".outfits-index img").eq(8).addClass("shadow");
  $(".outfits-index img").eq(-1).addClass("shadow");
</script>