<section class="user-request full-width">
  <div class="flex-center">
    <div class="request-item flex-center">
      <%= image_tag @request.img.url(:thumb), class: "img-auto-width" %>
    </div>
    <ul class="tag-index list-inline">
      <% if @request.color.present? %>
        <li class="color"><%= @request.color_name %></li>
      <% end %>
      <% if @request.material.present? %>
        <li class="material"><%= @request.material_name %></li>
      <% end %>
      <% if @request.category.present? %>
        <li class="category"><%= @request.category_name %></li>
      <% end %>
      <% if @request.style.present? %>
        <li class="style"><%= @request.style_name %></li>
      <% end %>
    </ul>
  </div>
</section>
<div class="blur"></div>
<section class="outfits-index">
  <% @outfits.each do |outfit| %>
  	<%= link_to (image_tag outfit.image_url, height: '60px'), request_outfit_path(@request, outfit) %>
  <% end %>
</section>

<script>
  <% if @request.style_name == t('style', scope: "tags") %>
    $('.style').css("background-color","#ccc");
  <% end %>
  <% if @request.material_name == t('material', scope: "tags") %>
    $('.material').css("background-color","#ccc");
  <% end %>
  <% if @request.color_name == t('color', scope: "tags") %>
    $('.color').css("background-color","#ccc");
  <% end %>
  <% if @request.category_name == t('category', scope: "tags") %>
    $('.category').css("background-color","#ccc");
  <% end %>

  $(".outfits-index img").eq(0).addClass("recommand-effect");
  $(".outfits-index img").eq(3).addClass("recommand-effect");
  $(".outfits-index img").eq(5).addClass("recommand-effect");
  $(".outfits-index img").eq(9).addClass("recommand-effect");
</script>