<section class="request_photo">
  <%= image_tag @outfit.image.file_path %>
</section>

<section class="compare-items">
  <div class="request-item">
    <%= image_tag @request.img.url(:thumb) %>
    <span>=</span>
    <%= image_tag @related_item.images.first.file_path %>
  </div>
  <div class="collection">
    收藏穿搭
  </div>
</section>
<section class="related-items">
  <% @other_items.each do |item| %>
    <div class="items">
      <%= image_tag item.images.first.file_path %>
    </div>
  <% end %>
  <% @recommend_items.each do |item| %>
    <div class="items">
      <%= image_tag item.images.first.file_path %>
    </div>
  <% end %>
</section>

