<h3>相關單品</h3>

<div class="outfit">
  <%= @outfit.name %>	<br>
</div>
<hr>
<div>
	<%= image_tag @request.img.url(:thumb) %>
	<br>
	<%= @related_item.name %>:
	<%= @related_item.color.name %>|<%= @related_item.material.name %>|<%= @related_item.category.name %>
</div>
<hr>

<ul>
	<% @other_items.each do |item| %>
		<li><%= link_to item.name, item_path(item) %>:
	<%= item.color.name %>|<%= item.material.name %>|<%= item.category.name %></li>
	<% end %>
</ul>
